<div class="centered-layout">
  <div class="border-container">
    <mat-grid-list cols="3" rowHeight="2:1">
      <div *ngFor="let currency of selectedCurrencies">
        <mat-grid-tile>
          <app-item-with-remove-icon
            [currency]="currency"
            (unselectEvent)="unselectCurrency($event)"
          ></app-item-with-remove-icon>
        </mat-grid-tile>
      </div>
    </mat-grid-list>

    <mat-grid-list cols="3" rowHeight="2:1">
      <div *ngFor="let currency of currencies">
        <mat-grid-tile>
          <app-button-with-checkbox
            [currency]="currency"
            (selectCurrency)="selectCurrency($event)"
          ></app-button-with-checkbox>
        </mat-grid-tile>
      </div>
    </mat-grid-list>
  </div>
</div>
