<div class="centered-layout">
  <div class="border-container">
    <div class="grid-container margin-bottom">
      <div *ngFor="let currency of selectedCurrencies">
        <div class="grid-item">
          <app-item-with-remove-icon
            [currency]="currency"
            (unselectEvent)="unselectCurrency($event)"
          ></app-item-with-remove-icon>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div *ngFor="let currency of currencies">
        <div class="grid-item">
          <app-button-with-checkbox
            [currency]="currency"
            (selectCurrency)="toggleCurrency($event)"
          ></app-button-with-checkbox>
        </div>
      </div>
    </div>
  </div>
</div>
