<div class="button-container">
  <button class="custom-button"
          [ngClass]="{'custom-button-hover': !currency.selected, 'custom-button-selected': currency.selected}"
          (click)="selectCurrency.emit(this.currency)">
    <div class="button-content">
      <span class="selection-indicator" [class.selected]="currency.selected">
        <span *ngIf="currency.selected" class="x-mark">✖</span>
      </span>
      <span class="currency-font">{{currency.abbreviation}}</span>
    </div>
  </button>
</div>

