.custom-button{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #000;
  padding: 5px 5px;
  width: 100px;
  height: 30px;
  margin-inside: 100px;
  background-color: lightgray;
}

.custom-button-selected {
  background-color: white;
}

.button-content{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.currency-font {
  color: darkblue;
  font-weight: 540;
  font-size: 15px;
}

.selection-indicator {
  width: 12px;
  height: 12px;
  background: lightgray;
  border: 1px solid black;
  border-radius: 3px;
  margin-right: 5px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  line-height: 12px;
}

.selection-indicator.selected {
  background: white;
}

.selection-indicator.selected:hover {
  background: white;
}

.selection-indicator:hover {
  background-color: #BEBEBE;
}

.custom-button:hover .selection-indicator:not(.selected) {
  background-color: #BEBEBE;
}

.custom-button-hover:hover {
  background-color: #BEBEBE;
}

.x-mark {
  color: red;
  font-size: 12px;
}
